body {
  background-color: #373739;
}
.list-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 150px;
}
.btn {
  border-radius: 10px;
  display: inline-block;
  width: 400px;
  height: 80px;
  background-color: azure;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #4a4a4c;
  color: azure;
  border-color: azure;
}
